*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #f8f5f0;
    color: #3e3e3e;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #e6dccf;
    color: #3e3e3e;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

nav{
    display: flex;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: #3e3e3e;
    font-weight: 500;
}

nav a:hover{
    color: #a68a64;
}

#menu-btn{
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

#hero{
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url(kwarto7.jpg) center/cover no-repeat;
    color: white;
}

.hero-content{
    display: inline-block;
    padding: 25px;
    border-radius: 10px;
}

#hero h2{
font-size: 2.5rem;
}

#hero p{
    margin: 10px 0;
}

#hero button{
    padding: 10px 20px;
    border: none;
    background: #a68a64;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}




